/* Master CSS styles for all pages */

/* Import Public Sans typeface from Google Fonts, weights 400 and 700.
(I have opted to use this as an alternative to the GDS Transport typeface, which is reserved for use on signage and gov.uk subdomains.) */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap");

body {
  margin: 0;
  scroll-behavior: smooth;
}

/* Font styles */

h1, h2, h3, h4, h5, p, li {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  color: #0b0c0c;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 10px !important;
}

h2 {
  font-size: 64px;
  font-weight: 600;
}

h3 {
  font-size: 48px;
  font-weight: 400;
}

h4 {
  font-size: 32px;
  font-weight: 400;
}

h5 {
  font-size: 28px;
  font-weight: 400;
}

li{
  line-height: 28px;
}

.link-underlined {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  color: #1D70B8;
  text-decoration-color: #1D70B8;
}

.link-underlined:hover {
  text-decoration-thickness: 2px;
}

/* Buttons */

button {
  border: none;
  padding: 8px 12px;
  margin: 18px 12px 4px 0;
  height: fit-content;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
}

.btn_white_blue_text{
  background: #FFFFFF;
  color: #1D70B8;
}

.btn_blue{
  background: #1D70B8;
  color: #FFFFFF;
}

.btn_green{
  background: #00703C;
  color: #FFFFFF;
}

/* Forms */

input {
  margin-top: 0;
  padding: 5px;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  font-family: "Public Sans", sans-serif;
  width: 300px;
}

form div p {
  padding: 10px 0;
}

h3.form-subheading {
  margin: 14px 0 6px 0;
}

form div .checkbox-section input[type="checkbox"] {
  width: 35px;
  height: 35px;
  border-width: 10px;
}

form div .checkbox-section {
  display: flex; /* Use Flexbox for the container */
  align-items: center; /* Vertically center items */
}

form div .checkbox-section p {
  margin-left: 8px; /* Add spacing between the checkbox and the text */
}


/* MEDIA QUERIES */

@media (max-width: 1440px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 46px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 24px;
  }

  p,
  li {
    font-size: 18px;
  }

  em {
    padding: 6px;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
    font-weight: 700;
  }

  p,
  li {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}